#directoryListingContainer {
	height: 400px;
	overflow-y: scroll;
}

#directoryListing {
	list-style-type: none;
}

#processLog {
	width: 100%;
	height: 300px
}

#progressBar {
	min-width: 20px;
}

#btnSettings {
    cursor: pointer;
}

.spacer {
	display: block;
	clear:both;
	margin: 10px auto;
}

.dir-listing-entry {
	cursor: pointer;
}

.form-group label {
	font-weight: normal;
}